.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  min-width: 24px;
  height: 24px;
  border: 2px solid #fff;
  box-sizing: border-box;
  margin: 77px 0 0 18px;
  background-color: #000;
  background-position: top 4px right 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .profile__edit-button {
    margin: 28px 0 0 10px;
  }
}

@media (max-width: 320px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    border: 1px solid #fff;
    background-position: top 3px right 3px;
  }
}
