.profile {
  display: grid;
  grid-template-columns: 120px auto 150px;
  padding-top: 40px;
}

@media (max-width: 1024px) {
  .profile {
    grid-template-columns: 120px auto 100px;
  }
}

@media (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    justify-items: center;

  }
}
