.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1024px) {
  .header {
    max-width: 680px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 460px;
  }
}

@media (max-width: 490px) {
  .header {
    max-width: 320px;
  }
}
