.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFF;
  max-width: 336px;
  margin: 7px 0 0 30px;
}

@media (max-width: 768px) {
  .profile__subtitle {
    max-width: 250px;
    margin: 12px auto 0;
  }
}

@media (max-width: 320px) {
  .profile__subtitle {
    max-width: 158px;
    font-size: 14px;
  }
}
