.profile__add-button {
  min-width: 150px;
  height: 50px;
  margin: 75px 0 0 244px;
  background-color: #000;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}
