.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  margin-top: 47px;
}

@media (max-width: 1024px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .elements {
    grid-template-columns: 1fr;
    margin: 36px auto 0;
  }
}
