.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  min-width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 37px 0 0 18px;
  background-color: rgba(0, 0, 0, 0);
  background-position: top 6px right 6px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .profile__edit-button {
    margin: 15px 0 0 6px;
    min-width: 18px;
    height: 18px;
    background-position: top 4px right 4px;
    background-size: 8px 8px;
  }
}
