.footer {
  max-width: 880px;
  width: 100%;
  flex-shrink: 0;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 680px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 460px;
  }
}

@media (max-width: 490px) {
  .footer {
    max-width: 282px;
  }
}
