.elements__like {
  margin: 0;
  background-image: url(../../../images/like-disabled.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  border: 0px;
  margin: 0;
  background-position: center;
  width: 22px;
  height: 19px;
}

.elements__like:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__like:active {
  background-image: url(../../../images/like-active.png);
  opacity: 1;
}
