.profile__title-container {
  display: grid;
  grid-template-columns: minmax(189px, 324px) 42px;
  grid-template-rows: 70px;
}

@media (max-width: 1024px) {
  .profile__title-container {
    grid-template-columns: 289px 42px;
  }
}

@media (max-width: 768px) {
  .profile__title-container {
    grid-template-columns: 199px 24px;
    margin: 19px 0 0 20px;
    grid-template-rows: 48px;
  }
}
