.footer {
  max-width: 880px;
  margin: auto;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 680px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 460px;
  }
}

@media (max-width: 490px) {
  .footer {
    max-width: 282px;
  }
}
