.footer {
  width: 880px;
  flex-shrink: 0;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer {
    width: 680px;
  }
}

@media (max-width: 768px) {
  .footer {
    width: 460px;
  }
}

@media (max-width: 490px) {
  .footer {
    width: 282px;
  }
}
